bokeh==2.2.2
certifi==2020.6.20
click==7.1.2
cloudpickle==1.6.0
dask==2.30.0
distributed==2.30.0
elasticsearch==7.9.1
fsspec==0.8.4
HeapDict==1.0.1
Jinja2==2.11.2
locket==0.2.0
MarkupSafe==1.1.1
msgpack==1.0.0
numpy==1.19.2
packaging==20.4
pandas==1.1.3
partd==1.1.0
Pillow==8.0.0
psutil==5.7.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
six==1.15.0
sortedcontainers==2.2.2
tblib==1.7.0
toolz==0.11.1
tornado==6.0.4
typing-extensions==3.7.4.3
urllib3==1.25.10
zict==2.0.0
python-decouple==3.3